body{
	font-family: Arial;
	font-size: 13px;
}

#TOC{

	font-family: Arial;
	font-size: 13.5px;
	border-color: #708090;
	color: #708090;
}

h1.title{
	font-family: Arial;
	font-size: 16.5px;
	color: black;
}

h2.title{
	font-family: Arial;
	font-size: 15px;
	color: black;
}

h3.title{
	font-family: Arial;
	font-size: 14px;
	color: black;
}